<div *ngIf="loading">
  Loading...
</div>
<div *ngIf="error">
  Error :(
</div>
<div *ngIf="launches">
  <div *ngFor="let launch of launches">
    <div class="card card-body mb-3">
      <div class="row">
        <div class="col-md-9">
          <h4>Mission: {{launch.mission_name}}</h4>
          <p>Date: {{launch.launch_date_local}}</p>
        </div>
        <div class="col-md-3">
          <button class="btn btn-secondary">Launch Details</button>
        </div>
      </div>
    </div>
  </div>
</div>
